<div class="column">
	<nav class="panel">
		<p class="panel-heading">Who to Follow</p>

		<% @users.each do |user| %>
			<% if @users.count == 1 %>
				<div class="panel-block">
					<article class="media">
						<div class="media-content">
							<div class="content">
								<p>
									<small style="color: gray;">No one here</small><br/>
								</p>
							</div>
						</div>
					</article>
				</div>
			<% end %>
			<% unless user == current_user %>
				<div class="panel-block">
					<article class="media">
						<div class="media-left">
							<figure class="image is-32x32">
								<%= gravatar_image_tag(user.email, size:64, alt:user.name) %>
							</figure>
						</div>
						<div class="media-content">
							<div class="content">
								<p>
									<strong><%= user.name %></strong><br/>
									<small>@<%= user.username%></small><br/>
								</p>
							</div>
						</div>
					</article>
				</div>
			<% end %>
		<% end %>
	</nav>
</div>